body{

  text-align: center;
  font-family: 'Merriweather', serif;

}

h1{
    margin-top: 0 ;
    font-family: 'Charmonman',Sacramento, cursive;
    line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
}


h3{
  font-family: 'Montserrat', sans-serif;
}

.underline{
  text-decoration: underline;
}

.top-container{
  


}
.me{
  border-radius: 50%;
  height: 200px;
  width: 200px;

}
.me:hover {
  transform: scaleX(-1);
}


.middle-container{
  background-color: #f4f6ff;



}
.bottom-container{

}

.card{
  margin: 20px auto 20px auto;
}
.skill-row{
  background-color: #f4eeed;
}
.mm{
    margin: 2px auto 2px auto;
}
